transfer_data.sh
*.so
build/
dist/
pyRSD/gcl.py
pyRSD/gcl_wrap.cpp
pyRSD/data/halo-matter
pyRSD/data/halo
pyRSD/data/simulation_fits/
pyRSD/data/legacy/
pyRSD/data/class
pyRSD/gcl/python/_gcl.so.*
pyRSD/gcl/python/_gcl.cpython*
depends/tmp*
*.sh
*.tar*
docs/source/generated
docs/params.dat
docs/source/savefig
