include pyRSD/gcl_wrap.cpp
include pyRSD/gcl.py
include pyRSD/gcl.i
include pyRSD/_gcl/include/*
recursive-include pyRSD/_gcl/extern *.h
include pyRSD/_gcl/python/*.i

include depends/class.cfg
include depends/install_class.sh
include depends/Makefile
include depends/class-v2.6.1.tar.gz

include pyRSD/data/dark_matter/pkmu_P*
include pyRSD/data/dark_matter/hzpt*
include pyRSD/data/galaxy/full/*
include pyRSD/data/galaxy/2-halo/*
include pyRSD/data/params/*
include pyRSD/data/simulation_fits/*
include pyRSD/data/examples/*
recursive-include pyRSD/tests/baseline *.png

include README.md
include readthedocs.yml
include LICENSE
include requirements.txt
include requirements-extras.txt
include requirements-tests.txt
