# verbosity: 0 for false, 1 for true
VERBOSE = 0

# debug mode: 0 for false, 1 for true
DEBUG = 0

# your C++ compiler:
MCK_CXX = $(CONDA_PREFIX)/bin/g++

# you C compiler
MCK_CC = $(CONDA_PREFIX)/bin/gcc

# C++ compiler flags
MCK_CXXFLAGS = -std=c++11
MCK_OPT_WARN = -Wextra -Wall -Woverloaded-virtual -g
MCK_OPT_HIGH = -O2 

# your openmp flag (comment for compiling without openmp)
OMP_FLAG = -fopenmp

# fortran compiler
MCK_FC = $(CONDA_PREFIX)/bin/gfortran
MCK_FFLAGS = -m64

# the ClASS variables
CLASS_PATH = $(SRC_DIR)/class_public-2.5.0
CLASS_LIB = $(CLASS_PATH)/build
CLASS_INC = $(CLASS_PATH)/include

# whether to compile the FrankenEmu
# if True, need to have GSL installed
COMPILE_EMU = 1

# GSL variables
GSL_PATH = $(CONDA_PREFIX)
GSL_INC = $(GSL_PATH)/include
GSL_LIBDIR = $(GSL_PATH)/lib/
GSL_LIBS = -lgsl -lgslcblas

# FFTW variables
FFTW_PATH = $(CONDA_PREFIX)
FFTW_INC = $(FFTW_PATH)/include
FFTW_LIBDIR = $(FFTW_PATH)/lib/
FFTW_LIBS = -lfftw3

# your tool for creating static libraries:
AR_EXEC = ar 
AR_FLAGS = rv

# your python interpreter
PYTHON = $(CONDA_PREFIX)/bin/python