# author: Nick Hand
# date: 12/3/14

#-------------------------------------------------------------------------------
# Platform-based configuration to be passed to the GCL Makefile in ./pyRSD/gcl
#-------------------------------------------------------------------------------

# verbosity: 0 for false, 1 for true
VERBOSE = 0

# debug mode: 0 for false, 1 for true
DEBUG = 0

# your C++ compiler:
MCK_CXX = g++

# compiler flags
MCK_CXXFLAGS = -std=c++11
MCK_OPT_WARN = -Wextra -Wall -Woverloaded-virtual -g
MCK_OPT_HIGH = -O2

# your openmp flag (comment for compiling without openmp)
OMP_FLAG = -fopenmp

# the ClASS variables
CLASS_PATH = /Users/Nick/Research/Programs/class
CLASS_LIB = $(CLASS_PATH)/build
CLASS_INC = $(CLASS_PATH)/include

# FFTW3 variables
FFTW_PATH = /opt/local/
FFTW_INC = $(FFTW_PATH)/include
FFTW_LIBDIR = $(FFTW_PATH)/lib/
FFTW_LIBS = -lfftw3 -lm

# your tool for creating static libraries:
AR_EXEC = ar 
AR_FLAGS = rv

# your python interpreter
PYTHON = python